/******Color Scheme******

#413740 - purple (background of image)
#8C035C - dark pink 
#BF048D - med pink 
#E4CEC3 - light pink 
#B0A82C - mustard 

*/

/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
}
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}
  
/* -------------- Utility Styles ------------- */
  
.container {
    width: 80vw;
    margin: 40px auto;
    max-width: 900px;
}
  
.img-right {
    float: right;
    margin: 10px 0 10px 20px;
    border: 1px solid #c0c0c0;
    padding: 5px;
}
  
.img-left {
    float: left;
    margin: 10px 20px 10px 0;
    border: 1px solid #c0c0c0;
    padding: 5px;
}

.img-center {
    display: block;
    margin: 20px auto;
    border: 1px solid #c0c0c0;
    padding: 5px;
}

/* --------------- Responsive Images ---------------*/

img {
    max-width: 100%;
    height: auto;
  }

/* --------------- Global Styles  ---------------*/

header.primary{
    background-color:#E4CEC3;
    background: radial-gradient(80% 40%, #E4CEC3, #B0A82C);
    color:#BF048D;
    text-align:center;
    text-shadow: 2px 2px 6px #ffffff;    
}

header.primary h1{
  font-size:3.6rem;
  padding-top:12px;
}

header.primary h2{
  font-size:2.3rem;
}
header.primary nav{
    width:80vw;
    margin:auto;
    max-width:900px;
}

header.primary nav ul{
    position: relative;
    padding:0;
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
}

header.primary nav ul li{
    list-style-type:none;
    margin:20px 0 20px 0;
}

header.primary ul li a{
    color:#BF048D;
    font-size:1.8rem;
    text-decoration:none;
    background-color: #403027;
    background-color:rgba(92, 87, 27, 0.35);
    padding:12px 12px;
    border-radius: 20px 8px 20px 8px;
    transition:.6;
    margin:0;
}
 
header.primary ul li a:hover, header.primary ul li a:active{
    background-color:rgba(64, 39, 62, 0.75);
}

figure{
    background-color:#413740
}

.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:110%;
}
   
/* --------------- Articles ---------------*/

section#articles {
    background: #413740;
}
  
section#articles .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #c0c0c0;
    padding: 0 0 4em 0;
}

section#articles h2,
  #content h2 {
    flex: 0 0 100%;
    color: #8C035C;
    text-align: center;
    font-family: "Goldman", cursive;
    font-size: 2em;
}
  
section#articles h2 {
    color: #B0A82C;
    text-shadow: 2px 2px rgb(223, 164, 164);
}

#articles article.post {
  width: 30%;
  box-shadow: 0 4px 8px rgba(250, 250, 250, 0.9);
  padding: 10px;
  transition: 0.6s;
  font-size: 0.8rem;
  border-radius: 10px;
  background: rgb(243, 185, 185);
}
