@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');


/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
}
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}
  
/* -------------- Utility Styles ------------- */
  
.container {
    width: 80vw;
    margin: 40px auto;
    max-width: 900px;
}
  
.img-right {
    float: right;
    margin: 10px 0 10px 20px;
    border: 1px solid #c0c0c0;
    padding: 5px;
}
  
.img-left {
    float: left;
    margin: 10px 20px 10px 0;
    border: 1px solid #c0c0c0;
    padding: 5px;
}

.img-center {
    display: block;
    margin: 20px auto;
    border: 1px solid #c0c0c0;
    padding: 5px;
}

/* --------------- Responsive Images ---------------*/

img {
    max-width: 100%;
    height: auto;
    margin:auto;
  }
figure {
    margin:auto;
}

figcaption{
    font-size:1.1rem;
    color:#ffffff;
    text-align: center;
}
/* --------------- Global Styles  ---------------*/

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font: normal 18px 'Open Sans', sans-serif;
    background: #fafafa;
    color: #333;
}

main {
    min-height: 100vh;
}

header {
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
    h1{
        font: normal 4em 'Playfair Display SC', serif;
        text-align:center;
    }

    nav {
        max-width: 800px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

        nav li {
            flex-grow: 1;
            text-align: center;
            padding: 1em;
            position: relative;
            text-decoration: none;
            display: flex;
            flex-direction:row;
            justify-content:space-evenly;

        
        }

       
        nav li a::after {
            color:red;
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right:0;
            height: 2px;
            transform: scaleX(0);
            background: #333;
            transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
        }

        nav li hover::after{
            transform: scaleX(1)
        }