@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');


/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
}
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}
  
/* -------------- Utility Styles ------------- */
  
.container {
    width: 80vw;
    margin: 40px auto;
    max-width: 900px;
}
  
.img-right {
    float: right;
    margin: 10px 0 10px 20px;
    border: 1px solid #c0c0c0;
    padding: 5px;
}
  
.img-left {
    float: left;
    margin: 10px 20px 10px 0;
    border: 1px solid #c0c0c0;
    padding: 5px;
}

.img-center {
    display: block;
    margin: 20px auto;
    border: 1px solid #c0c0c0;
    padding: 5px;
}

/* --------------- Responsive Images ---------------*/

img {
    max-width: 100%;
    height: auto;
    margin:auto;
  }
figure {
    margin:auto;
}

figcaption{
    font-size:1.1rem;
    color:#ffffff;
    text-align: center;
}
/* --------------- Global Styles  ---------------*/

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font: normal 18px 'Open Sans', sans-serif;
    background: #fafafa;
    color: #333;
}

main {
    min-height: 100vh;
}

header {
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
    h1{
        font: normal 4em 'Playfair Display SC', serif;
        text-align:center;
    }

    nav ul{
        max-width: 800px;
        margin: auto;
        display: flex;
        flex-direction:row;
        justify-content:space-evenly;
    }

        nav li {
            text-decoration: none;
            text-align: center;
            padding: 1em;
            position: relative;
            color: #333;
            list-style-type:none;
        
        }
        
        header.primary ul li a{
            color:#333;
            font-size:1.2rem;
            text-decoration:none;
            transition:.6;
            margin:0;
            padding:2px;
        }

        header.primary ul li a:hover, header.primary ul li a:active{
            background-color:rgba(240, 116, 202, 0.75);
        }

    section#dedication{
        font-size: 2.8rem;
        border-style: ridge;
        padding: 60px;
        text-align: center;
        margin:auto;
        background-color: rgba(243, 217, 237, 0.308);
        font-family: 'Montserrat', sans-serif;
        }
        /* --------------- Articles ---------------*/
        
        section#articles {
            
            background: linear-gradient(to top, #874E50, #413740);
        }
          
        section#articles .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            border-bottom: 1px solid #c0c0c0;
            padding: 0 0 4em 0;
        }
        
        section#articles h2,
          #content h3 {
            flex: 0 0 100%;
            color: #8C035C;
            text-align: center;
            font: normal 4em 'Playfair Display SC', serif;
            font-size: 2em;
        }
        
        section#articles h3{
            color:#333;
            text-align:center;
            font-size: 1.8rem;
            text-decoration: none;
        
        }
          
        section#articles h2 {
            color: #874E50;
            font-size: 3.0rem;
            text-shadow: 2px 2px rgb(223, 164, 164);
        }
        
        #articles article.post {
          width: 30%;
          box-shadow: 0 4px 8px rgba(250, 250, 250, 0.9);
          padding: 10px;
          transition: 0.6s;
          font-size: 0.8rem;
          border-radius: 10px;
          background: rgb(243, 185, 185);
        }

        footer#colophon{
            text-align: center;
            background-color: #fafafa;
            margin:auto;
            padding: 40px;
        }

        /****************WHO****************/
section#who{
    font-family: 'Montserrat', sans-serif;
    margin-top:10px;
    margin-bottom:10px;
    
}

section#who h2{
    text-align:center;
    font: normal 2em 'Playfair Display SC', serif;
    
}
.wrapingimage  
{  
float: left;   
margin: 6px 12px 13px 14px;    
}   

section#began h2{
    text-align:center;
    font: normal 2em 'Playfair Display SC', serif;
    
}

section#went h2{
    text-align:center;
    font: normal 2em 'Playfair Display SC', serif;
    
}

section#am h2{
    text-align:center;
    font: normal 2em 'Playfair Display SC', serif;
    
}

section#sport h2{
    text-align: center;
    font: normal 2.8em 'Playfair Display SC', serif;
    padding-bottom:20px;
}

section#sport p{
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
}

section#sport ol{
    text-align: center;
    padding:12px;
    font-family: 'Montserrat', sans-serif;
    font-size:1.5rem;
    list-style-type: none; 
}


section#triathlon h3{
    text-align:center;
    font: normal 2em 'Playfair Display SC', serif;
    
}

section#triathlon li{
    font-family: 'Montserrat', sans-serif;
    font-size:1.8rem;
    list-style-type: none; 
    font-weight: bold; 
    margin:20px;
    text-align: center;
}

section#triathlon ul dt{
    
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin:0 300px 0 300px;
    background-color: antiquewhite;
}
section#triathlon ul dd{
    
    font-family: 'Montserrat', sans-serif;
    margin:0 300px 0 300px;
    text-align: center;
}
